/* style.css */

html, body {
    height: 100%;
    overflow: hidden;
    touch-action: none; /* Prevenir zoom en dispositivos táctiles */
  }
  
  body {
    background-color: #ffffff;
    margin: 0;
    display: flex;
  
    /* This centers our sketch horizontally. */
    justify-content: center;
  
    /* This centers our sketch vertically. */
    align-items: center;
  }
  
  /* Prevenir zoom en el canvas */
  canvas {
    touch-action: none;
    -ms-touch-action: none;
  }